<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div nz-row>
  <div nz-col nzSpan="12">
    <span class="text-title">{{breadcrumbObj.heading}}</span>
  </div>
  <div nz-col nzSpan="12" class="text-right">
    <button nz-button class="nz-btn-green"><i class="fas fa-plus mr-right-5"></i>Thêm mới</button>
  </div>
</div>
<hr>

Upload single file:<br>

<app-upload-file class="w-100"
  [isUploadMultiFile]="false"
  [subFolderOnServer]="'test-ma-duyet-de-tai'"
  [listFilesPatch]="extractFileFromListId([exampleForm.get('fieldOneFile').value].flat())"
  (returnedListId)="setIdFileToForm($event, 'fieldOneFile', exampleForm)">
</app-upload-file>

<br><br><br>

Upload multi file:<br>
<app-upload-file class="w-100"
  [isUploadMultiFile]="true"
  [subFolderOnServer]="'test-ma-duyet-de-tai'"
  [listFilesPatch]="extractFileFromListId([exampleForm.get('fieldMultiFile').value].flat())"
  (returnedListId)="setListIdFileToForm($event, 'fieldMultiFile', exampleForm)">
</app-upload-file>

<button type="button" (click)="viewFormValue()">View form value</button>
