<div id="sj-content" class="sj-content sj-addarticleholdcontent sj-addarticleholdvtwo">
  <div class="sj-dashboardboxtitle sj-titlewithform">
    <h2 class="w-100 text-center">{{langData[langCode].NOP_BAI_THU_HOACH}}</h2>
    <!-- Toolbar here -->
  </div>
  <div class="sj-manageallsession project-on-page">
    <form nz-form [formGroup]="form" class="center-form">

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].LUA_CHON_DOAN}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'maDoanThamQuan')">
              <nz-select ngModel="maDoanThamQuan">
                <nz-option nzValue="Đoàn 01" nzLabel="Đoàn 01"></nz-option>
                <nz-option nzValue="Đoàn 02" nzLabel="Đoàn 02"></nz-option>
              </nz-select>
              <app-field-error-display [displayError]="isFieldValid(form, 'maDoanThamQuan')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].HO_VA_TEN}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'hoVaTen')">
              <input nz-input formControlName="hoVaTen">
              <app-field-error-display [displayError]="isFieldValid(form, 'hoVaTen')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].MSSV}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'mssv')">
              <input nz-input formControlName="mssv">
              <app-field-error-display [displayError]="isFieldValid(form, 'mssv')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].TEN_CONG_TY}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'tenCongTy')">
              <input nz-input formControlName="tenCongTy">
              <app-field-error-display [displayError]="isFieldValid(form, 'tenCongTy')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].GIANG_VIEN_PHU_TRACH}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'giangVienPhuTrach')">
              <input nz-input formControlName="giangVienPhuTrach">
              <app-field-error-display [displayError]="isFieldValid(form, 'giangVienPhuTrach')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].THOI_GIAN_PHU_TRACH}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'thoiGianPhuTrach')">
              <input nz-input formControlName="thoiGianPhuTrach">
              <app-field-error-display [displayError]="isFieldValid(form, 'thoiGianPhuTrach')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row class="pad-bot-form">
            <div nz-col nzSpan="24">
              <label>{{langData[langCode].NOP_BAI_THU_HOACH}}</label><label class="field-required">*</label>
            </div>
            <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'baiThuHoach')">
              <input type="file" id="baiThuHoach" name="baiThuHoach">
              <app-field-error-display [displayError]="isFieldValid(form, 'baiThuHoach')"
                [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
              </app-field-error-display>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="ant-modal-footer fk-modal-footer">
        <div nz-col nzSpan="24" class="ali-right">
          <div class="pad-left-form-control" style="display: inline-block;">
            <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSubmit()"><i
              class="fas fa-save mr-right-5"></i>{{langData[langCode].LUU}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
